html, body{
    height: 100%;
}

.h100{
    height: 100%;
}

textarea{
    width: 100%;
    margin-top: 10px;
    resize: none;
    min-height: 40%;
}

h2{
    margin-top: 5px;
    margin-bottom: 5px;
}

